body {
    background-color: grey;
}

.gallery__img{
    width: 75%;
    height: 50%;
    max-height: 50%;
    object-fit: cover;
    display: block;
    justify-content: center;
}

.gallery__img:hover{
    background-color: gainsboro;
    border: 10px solid tan;
    padding: 19px;
    border-radius: 7px;
    cursor: pointer;
}

#fig1 {
    padding-left: 20%
}
